<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>es</string>
    <key>CFBundleDisplayName</key>
    <string>CarDiag</string>
    <key>CFBundleName</key>
    <string>CarDiag</string>
    <key>CFBundleIdentifier</key>
    <string>com.cardiag.obd2</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackground</string>
    </dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>NSLocalNetworkUsageDescription</key>
    <string>CarDiag se conecta al adaptador OBD2 WiFi en la red local del vehículo.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_obd2._tcp</string>
    </array>
</dict>
</plist>
